html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 12pt 'PT Sans', sans-serif;
    background: #EFEFEF;
}


/* Мои */




.add-on label {
    min-height: 15px!important;
}

.block_info_new4 {
    background: url('/images/block_info_new4.png') 50% 0 / auto 100% no-repeat;
    background-size: contain;
}

.block_info_new2 {
    background: url('/images/block_info_new2.png') 50% 0 / auto 100% no-repeat;
    background-size: contain;
}

.block_info_new5 {
    background: url('/images/block_info_new5.png') 50% 0 / auto 100% no-repeat;
    background-size: contain;
}

.block_info_new8 {
    background: url('/images/block_info_new8.png') 50% 0 / auto 100% no-repeat;
    background-size: contain;
}

.block_info_new6 {
    background: url('/images/block_info_new6.png') 50% 0 / auto 100% no-repeat;
    background-size: contain;
}

.block_info_new7 {
    background: url('/images/block_info_new7.png') 50% 0 / auto 100% no-repeat;
    background-size: contain;
}

.block_info_new1 {
    background: url('/images/block_info_new1.png') 50% 0 / auto 100% no-repeat;
    background-size: contain;
}

.block_info_new3 {
    background: url('/images/block_info_new3.png') 50% 0 / auto 100% no-repeat;
    background-size: contain;
}

.navigation_swiper_block_info .item {
    position: relative;
    left: 20%;
    top: 70px;
}

.block_info_slide .swiper-pagination-bullet {
    background: #cccccc !important;
    margin: 0 5px 0 5px;
}

.block_info_slide .swiper-pagination-bullet-active {
    background: #fff !important;
}

.swiper_block_info_next,
.swiper_block_info_prev {
    width: 20px !important;
    height: 20px !important;
}

.swiper_block_info_next {
    background: url('/images/block_info_next.svg') 50% 50% / 100% auto no-repeat !important;
}

.swiper_block_info_prev {
    background: url('/images/block_info_prev.svg') 50% 50% / 100% auto no-repeat !important;
}

.z_index30 {
    z-index: 30;
}

.he {
    height: 100%;
}

.worktype {
    height: 38px;
}

.become_author {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #fff;
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}

.become_author:hover {
    color: #fff;
}

.color1 {
    color: #b94a48;
}

.zakaz_tabl_content {
    padding: 4%;
}

.zakaz_tabl_content::before {
    content: '';
    position: absolute;
    top: 15px;
    border: 18px solid transparent;
}

.zakaz_tabl_content_left::before {
    left: -38px;
    border-right: 20px solid;
}

.zakaz_tabl_content_right::before {
    right: -38px;
    border-left: 20px solid;
}

.zakaz_tabl_content_left2::before {
    border-left-color: #e37216;
}

.zakaz_tabl_content_left4::before {
    border-left-color: #20a89a;
}

.zakaz_tabl_content_left1::before {
    border-right-color: #20a89a;
}

.zakaz_tabl_content_left3::before {
    border-right-color: #50487b;
}

.zakaz_tabl_content h3 {
    line-height: 30px;
}

.bag1 {
    background: #20a89a;
}

.bag2 {
    background: #e37216;
}

.bag3 {
    background: #50487b;
}

.bag4 {
    background: #fff;
}

.h1_style {
    font-weight: bold;
    color: #333;
    font-size: 2.4em;
    line-height: 1;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: "PT Sans";
}

.h3_style {
    font-weight: bold;
    color: #333;
    font-size: 1.6em;
    line-height: 1;
    margin-bottom: 1em;
    text-align: center;
    font-family: "PT Sans";
}

.zakaz_tabl {
    color: #fff;
}

.item_data.num1 {
    padding-right: 20px;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    border-color: #05a523 !important;
}

.sbR {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form-horizontal .controls {
    margin-left: 0px !important;
}

.forma_jackdaw {
    background: url("/images/forma_jackdaw.svg") 50% 50% / 100% auto no-repeat;
    width: 20px;
    height: 20px;
    right: 11px;
    top: 8px;
}

.success .forma_jackdaw {
    display: block !important;
}

.oreder_block_form .control-group input,
.oreder_block_form .control-group select {
    width: 100%;
}

.oreder_block_form .control-group input,
.oreder_block_form,
.oreder_block_form .control-group .add-on {
    padding: 8px 28px 8px 18px;
    height:auto!important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.oreder_block_form .hidden-control-group input {
    width: inherit;
}

.oreder_block_form .order_date .input-append {
    width: 100%;
}

.oreder_block_form .order_date .input-small {
    width: 80%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.oreder_block_form .order_date .add-on {
    width: 20%;
    position: relative;
}

.oreder_block_form .order_date .add-on .icon-calendar:before {
    width: 20%;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%;
    content: "";
    background: #05a523 url("/images/order_data.svg") 50% 50% / auto 80% no-repeat;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#order-form .btn-primary {
    background: #fb7000;
    text-shadow: 0 0 0;
    border: none;
    text-transform: uppercase;
    width: 20%;
    margin: auto;
    display: block;
    min-width: 160px;
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#order-form .file_block {
    display: block;
    background: transparent;
    padding: 0px;
    line-height: 0px;
}

#order-form .file_block_left {
    width: 80%;
    padding: 18px 28px 18px 18px;
}

#order-form .file_block_right {
    width: 20%;
    padding: 18px 28px 18px 18px;
    background: #05a523 url("/images/order_file.svg") 50% 50% / auto 80% no-repeat;
}

#order-form .item_data {
    width: 33.3%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#order-form .control-group {
    position: relative;
}

#order-form .control-label {
    display: none;
}

#order-form .control-label[for="Order_extra"] {
    display: block;
    width: 100%;
    text-align: left;
}

.oder_theme .control-group {
    display: inline-block;
    width: 100%;
}

.swiper-button-next_my {
    background: url("/images/button_next.svg") 50% 50% / 100% auto no-repeat !important;
}

.swiper-button-prev_my {
    background: url("/images/button_prev.svg") 50% 50% / 100% auto no-repeat !important;
}

.swiper_comment {
    width: 84%;
}

.block_info_item1 {
    background: url("/images/block_info1.png") 50% 50% / 100% auto no-repeat;
}

.block_info_item2 {
    background: url("/images/block_info2.png") 50% 50% / 100% auto no-repeat;
}

.block_info_item3 {
    background: url("/images/block_info3.png") 50% 50% / 100% auto no-repeat;
}

.block_info_item4 {
    background: url("/images/block_info4.png") 50% 50% / 100% auto no-repeat;
}

.block_info {
    /*
    width:25%;
    padding-bottom:25%;
    */
    width: 50%;
    padding-bottom: 50%;
    vertical-align: top
}

.star_item {
    width: 20px;
    height: 20px;
    background: url("/images/star.svg") 50% 50% / 100% auto no-repeat;
    margin-right: 3px;
}

.comment {
    width: 240px;
}

.comment .left {
    width: 8%;
    height: 40px;
    background: url("/images/exclamation.svg") 0% 50% / auto 100% no-repeat;
}

.comment .right {
    width: 87%;
    padding-left: 5%;
}

.inl {
    display: inline-block !important;
}

.teLef {
    text-align: left;
}

.teCen {
    text-align: center;
}

.teRig {
    text-align: right;
}

.alignTop {
    vertical-align: top;
}

.alignMiddl {
    vertical-align: middle
}

.none {
    display: none !important;
}

.none2 {
    display: none;
}

.how_we_work_item {
    width: 140px;
    padding: 5px;
}

.file_block {
    position: relative;
    overflow: hidden;
    line-height: 1;
    text-align: center;
}

.file_block .fileinput-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.control-label[for="Order_extra"] {
    color: #0088cc;
}

.control-label[for="Order_extra"]:hover,
.control-label[for="Order_extra"]:focus {
    color: #005580;
    text-decoration: underline;
}

.types_work_all_link,
.types_work_line {
    border-top: 1px solid #ddd;
    padding-top: 1.5em;
}

.types_work_line2 {
    border-top: 1px solid #ddd;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.h3 {
    font-size: 24.5px;
    font-weight: bold;
}

.marginB6 {
    margin-bottom: 6px;
}

.marginT9 {
    margin-top: 9px;
}

.marginT20 {
    margin-top: 20px;
}

.link {
    color: #0088cc;
    text-decoration: none;
    cursor: pointer;
}

.link:hover,
.link:focus {
    color: #005580;
    text-decoration: underline;
}

.wi {
    width: 100%;
}

.tab {
    display: table;
}

.cel {
    display: table-cell;
}

.button_comment_cel {
    width: 80px;
}

.button_comment {
    margin: 0px !important;
}

.ab {
    position: absolute;
}

.ab2 {
    position: absolute !important;
}

.re {
    position: relative;
}

.re2 {
    position: relative !important;
}

.layoutF {
    table-layout: fixed;
}

@media (max-width: 450px) {
    .button_comment_cel,
    .button_comment {
        width: 15px !important;
    }
    .navigation_swiper_block_info .item {
        left: inherit;
        top: 20px;
    }
}


/* end Мои */

#page {
    font: normal 12pt 'PT Sans', sans-serif;
    background: white;
}

#page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
}

#push {
    height: 120px;
}

#header .line {
    border-top: 5px solid #E5342C;
}

#content {
    padding: 20px 0;
}

#sidebar {
    padding: 20px 20px 20px 0;
}

#footer {
    padding: 10px;
    /*height: 100px;*/
    background: #544C48;
    color: #fff;
}

#footer a {
    color: #aaa;
    background: none;
}

#footer li.active a {
    background-color: #555;
}

#footer a:hover {
    color: #fff;
    background: none;
    text-decoration: none;
}

#footer form {
    display: inline;
    margin-left: 2em;
}

#footer .logo {
    margin: 4px 0;
}

#logo {
    padding: 10px 0;
    font-size: 200%;
}

#header .contacts {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
}

#header .contacts div {
    line-height: 28px;
}

#mainmenu {
    /*background:white url(bg.gif) repeat-x left top;*/
    font-size: 18px;
    line-height: normal;
}


/*
#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}
*/

#mainmenu ul li a {
    line-height: 16px;
}


/*
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
}*/

#mainmenu a.urgent {
    color: #E5342C;
}

div.flash-error,
div.flash-notice,
div.flash-success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

div.flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

div.flash-notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

div.flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

div.flash-error a {
    color: #8a1f11;
}

div.flash-notice a {
    color: #514721;
}

div.flash-success a {
    color: #264409;
}

div.form .rememberMe label {
    display: inline;
}

div.view {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs {
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span {
    font-weight: bold;
}

div.search-form {
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet {}

.portlet-decoration {
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content {
    font-size: 0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background: #EFFDFF;
}

.portlet-content ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.portlet-content li {
    padding: 2px 0 4px 0px;
}

.operations {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li {
    padding-bottom: 2px;
}

.operations li a {
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited {
    color: #0066A4;
}

.operations li a:hover {
    background: #80CFFF;
}

.offer {
    /*cursor: pointer;*/
    color: #666;
}

.offer div {
    text-align: center;
}

.offer h4 {
    text-align: center;
    height: 32px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.offer .bullet i {
    font-size: 24px;
    background: #ccc;
    padding: 7px 9px 7px 9px;
    border-radius: 18px;
}

.offer a {
    color: #000;
}

.offer-active a,
.offer a:hover {
    text-decoration: none;
    color: #E5342C;
}

.offer-active .bullet a,
.offer .bullet a:hover {
    color: #fff;
}

.offer-active .bullet i {
    background-color: #E5342C;
}

#order-now {
    position: fixed;
    right: 0;
    top: 50%;
    width: 30px;
    height: 160px;
    background: #E5342C url(/images/order-now.png) no-repeat center;
    margin-top: -100px;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

#order-now a {
    color: #fff;
    display: none;
}

#order h1,
#order h2,
#order h3 {
    text-align: center;
    line-height: 1;
}

.order-title {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#order p.note {
    margin-left: 10%;
    color: #444;
}

#order .nav-tabs li {
    /*width: 160px;*/
    text-align: center;
    font-size: 90%;
}


/*
.auth-icon {
    position: relative;
    left: -16px;
    margin-left: 50%;
}

i.auth-icon.email {
    background: url(/css/email.png);
    background-size: 100%;
}*/

#modal {
    width: 620px;
    /*position: relative;
    margin-top: 100px;
    margin-bottom: 100px;*/
    margin-bottom: 10%;
    overflow-y: auto;
}

@media screen and (max-width:992px) {
    #modal {
        width: 70%;
    }
    
}


@media screen and (max-width:767px) {
    #modal {
        width: 100%;
    }
    
}


#modal .modal-body {
    overflow: visible;
    max-height: auto;
}


/*#modal button.close {
    cursor: poiner;
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 1100;
}*/

#modal .offset3 {
    margin-left: 30px;
}

@media screen and (max-width:767px) {
    #modal .offset3 {
        margin-left:0px;
    }
    
}

#login-form .actions {
    margin-top: 20px;
}

#login-form .remind {
    margin-left: 7px;
    font-size: 14px;
    vertical-align: middle;
}

.auth-services .auth-service .auth-link {
    width: auto !important;
}

.auth-services .auth-service .auth-icon {
    display: inline-block;
    vertical-align: middle;
}

.auth-services .auth-link .auth-title {
    margin-left: 0.4em;
    display: inline !important;
}

.auth-services .auth-service {
    margin-bottom: 1em;
    float: none;
}

.btn-unstyled {
    background: transparent;
    border: none;
}

ul.attachments {
    list-style-type: none;
    margin: 0;
}

.hidden-control-group {
    margin-top: -20px;
}

#cabinet-menu {
    margin-top: 20px;
}

@media (max-width: 767px) {
    body {
        padding: 0 !important;
    }
    #content .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    #page-wrap {
        margin-bottom: -250px;
    }
    #push {
        height: 280px;
    }
    /*
    #footer {
        height: 230px !important;
    }
    */
    #preface {
        margin-left: 0 !important;
        margin-top: 90px !important;
        width: 100% !important;
        padding: 5px 0 !important;
        box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.3) !important;
    }
    .input-append {
        display: block !important;
        position: relative;
        min-height: 30px;
    }
    .input-append input {
        /*width: 100% !important;*/
        position: absolute;
        border-radius: 4px !important;
    }
    .add-on {
        position: absolute;
        right: 0;
        z-index: 100;
    }
    #menu .item {
        width: auto !important;
        float: none !important;
    }
    .block_info {
        width: 50%;
        padding-bottom: 50%;
    }
    .item_data.num1 {
        padding-right: 0px;
        width: 100% !important;
    }
    .oreder_block_form .item_data.num1 {
        padding-right: 0px;
    }
    .oreder_block_form .item_data {
        width: 100% !important;
    }
}

@media (max-width: 979px) {
    .zakaz_tabl {
        display: block;
    }
    .zakaz_tabl .cel {
        display: block;
    }
    .zakaz_tabl .cel::before {
        display: none;
    }
}


/* css */

.matter-form {
    float: right;
    width: 30%;
    background: #f5f5f5;
    padding: 27px 50px 30px;
    margin: 0 0 20px;
}

.matter-form input[type=text] {
    width: 100%;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.matter-form textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contacts-wrap {
    float: left;
    width: 60%;
}

.contacts-wrap__header {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 5px;
}

.contacts-wrap__txt {
    font-size: 24px;
    margin: 0 0 30px;
}

.contacts-wrap__col {
    display: inline-block;
    width: 40%;
    padding: 0 5% 0 0;
    vertical-align: top;
}

.contacts-wrap__col p {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 8px;
}

.contacts-wrap__col-head {
    margin: 0 0 20px;
    min-height: 106px;
}

body .matter-form input.btn {
    background: #be4a47;
    padding: 0 13px;
    height: 35px;
    border: 0;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.contacts-wrap__col-phone,
.contacts-wrap__col-time {
    margin: 0 0 20px;
    min-height: 126px;
}

.ico-info {
    display: inline-block;
    width: 28px;
}

.ico-info img {
    vertical-align: top;
    position: relative;
    top: 1px;
}

.contacts-padding {
    height: 30px;
    clear: both;
}

.pay-wrap__header {
    margin: 0 0 50px;
    font-size: 38px;
    font-weight: bold;
}

.pay-wrap {
    margin: 0 0 20px;
    font-size: 0;
}

.pay-wrap * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pay-wrap h3 {
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
    margin: 0 0 20px;
}

.pay-item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    position: relative;
    border-right: 1px dashed #a9aaaa;
}

.pay-item__img {
    display: table-cell;
    height: 183px;
    vertical-align: middle;
    text-align: center;
}

.pay-item__img img {
    max-width: 100%;
    max-height: 100%;
}

.pay-item__popup {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: #fff;
    z-index: 10;
    font-size: 14px;
    opacity: 0;
    -wekit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 22px rgba(0, 0, 0, .09);
    -moz-box-shadow: 0 0 22px rgba(0, 0, 0, .09);
    box-shadow: 0 0 22px rgba(0, 0, 0, .09);
}

.pay-item:hover .pay-item__popup {
    opacity: 0.95;
}

.pay-item__popup span {
    display: table-cell;
    width: 400px;
    height: 185px;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
    padding: 0 35px;
}

.pay-row {
    padding: 0 0 64px;
    margin: 0 0 48px;
    border-bottom: 2px solid #eceeef;
}

.pay-list {
    border-top: 1px dashed #a9aaaa;
    border-bottom: 1px dashed #a9aaaa;
    border-left: 1px dashed #a9aaaa;
}

.pay-row--last {
    border: 0;
    margin: 0;
}

.pay-row--last .pay-list,
.pay-row--last .pay-item {
    width: 50%;
}

.scheme {
    margin: 0 0 20px;
}

.scheme__header {
    margin: 0 0 36px;
    font-size: 38px;
    font-weight: bold;
}

.scheme-wrap {
    background: url(../images/scheme-bg.png) 0 0 no-repeat;
    font-size: 0;
    text-align: center;
    margin-right: -20px;
    padding-right: 20px;
}

.scheme-wrap__item {
    display: inline-block;
    height: 332px;
    width: 21%;
    padding-left: 2%;
    padding-right: 2%;
    vertical-align: top;
    font-size: 14px;
}

.scheme-wrap__img {
    padding: 0 0 20px;
}

.scheme-wrap__item span {
    display: block;
    font-size: 24px;
    margin: 0 0 5px;
}

@media (max-width: 1200px) {
    .contacts-wrap {
        width: 60%;
    }
    .matter-form {
        padding: 20px 30px 20px;
    }
    .pay-item__popup span {
        padding: 0 5px;
    }
    .scheme-wrap {
        background: none;
    }
}

@media (max-width: 980px) {
    .contacts-wrap__col {
        width: 90%;
    }
    .contacts-wrap {
        width: 40%;
    }
    .matter-form {
        width: 40%;
    }
    .scheme-wrap__img img {
        width: 100px;
    }
}

@media (max-width: 767px) {
    .contacts-wrap {
        width: auto;
        display: block;
        float: none;
    }
    .matter-form {
        float: none;
        width: auto;
    }
    .pay-wrap,
    .scheme,
    .contacts-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    .matter-form {
        padding: 10px 15px 10px;
    }
    .matter-form h1 {
        font-size: 24px;
    }
    .pay-wrap__header,
    .scheme__header,
    .contacts-wrap__header {
        font-size: 24px;
    }
    .contacts-wrap__txt {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .contacts-wrap__col-head,
    .contacts-wrap__col-phone,
    .contacts-wrap__col-time {
        min-height: 10px;
        margin-bottom: 15px;
    }
    .pay-wrap h3 {
        font-size: 18px;
        line-height: 21px;
        font-weight: normal;
    }
    .pay-wrap__header {
        margin-bottom: 20px;
    }
    .pay-row {
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    .scheme-wrap__item {
        width: 46%;
    }
}

@media (max-width: 420px) {
    .scheme-wrap__item {
        display: block;
        width: auto;
    }
    .pay-item {
        width: 100%;
    }
    .pay-row--last .pay-list,
    .pay-row--last .pay-item {
        width: 100%;
    }
    .scheme-wrap__item {
        height: auto;
        padding-bottom: 30px;
    }
}

.ym-advanced-informer {
    display: none;
}
