/*style css*/

@media screen and (max-width:767px) {
    #video-popup {
            width: 95%!important;
            left: 50%;
            top:50%;
            right: 0;
            margin: 0;
            transform: translate(-50%,-50%);
          
    }

    #video-popup .modal-body {
        padding:0px;
        display: block;
    }

    #video-popup .close{
        font-size: 40px;
        line-height: 25px;
        
    }
    .modal-body iframe {
        width: 100%!important;
        height: 220px!important;
    }

    #video-popup .modal-header h3 {
        margin: 0;
        line-height: 1;
    }
}

@media all and (orientation: landscape) and and (max-width:767px) {
    
}

html {
    overflow-x: hidden!important;
    position: relative;
    height: 100%;
}

.page-wrapper {
    overflow-x: hidden;
    height: 100%;
}

.order-type__h4 {
    position: relative;
}

.banner {
    box-sizing: border-box;
    max-width: 1170px;
    position: relative;
    background: url("../images/new_img/think.png") no-repeat 900px 140px, url("../images/new_img/man.png") no-repeat 700px 140px, url("../images/new_img/banner-bg.jpg") no-repeat 0 0;
    background-size: auto, auto, cover;
    padding: 100px 55px 120px 55px;
    margin-bottom: 55px;
    min-height: 520px!important;
}

.banner--target {
    background: url("../images/new_img/target.png") no-repeat 800px 140px, url("../images/new_img/banner-bg.jpg") no-repeat 0 0;
    background-size: 300px 300px, cover;
}

.banner__title {
    font-size: 48px;
    line-height: 55px;
    color: #fff;
    max-width: 600px;
    margin-bottom: 35px;
    font-weight: bold;
}

.banner__desc {
    color: #fff;
    font-size: 16px;
    max-width: 410px;
    margin-bottom: 50px;
}

.banner__btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 14px 35px;
    background: #00537c;
    transition: all 0.7s ease-out;
}

.banner__btn:hover,
.banner__btn:focus {
    background: #052b3d;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width:1200px) {
    .banner {
        background: url("../images/new_img/think.png") no-repeat 700px 140px, url("../images/new_img/man.png") no-repeat 400px 140px, url("../images/new_img/banner-bg.jpg") no-repeat 0 0;
        background-size: auto, auto, cover;
    }
    .banner--target {
        background: url("../images/new_img/target.png") no-repeat 600px 140px, url("../images/new_img/banner-bg.jpg") no-repeat 0 0;
        background-size: 300px 300px, cover;
    }
}

@media screen and (max-width:1000px) {
    .banner {
        background: url("../images/new_img/think.png") no-repeat 500px 140px, url("../images/new_img/man.png") no-repeat 300px 140px, url("../images/new_img/banner-bg.jpg") no-repeat 0 0;
        background-size: auto, auto, cover;
    }
    .banner--target {
        background: url("../images/new_img/target.png") no-repeat 500px 140px, url("../images/new_img/banner-bg.jpg") no-repeat 0 0;
        background-size: 300px 300px, cover;
    }
}

@media screen and (max-width:768px) {
    .banner {
        background: url("../images/new_img/think.png") no-repeat 520px 140px, url("../images/new_img/man.png") no-repeat 300px 140px, url("../images/new_img/banner-bg.jpg") no-repeat 0 0;
        background-size: auto, auto, cover;
        padding: 70px 25px 70px 25px;
    }
    .banner--target {
        background: url("../images/new_img/target.png") no-repeat 450px 140px, url("../images/new_img/banner-bg.jpg") no-repeat 0 0;
        background-size: 300px 300px, cover;
    }
}

@media screen and (max-width:767px) {
    .banner {
        background: url("../images/new_img/think.png") no-repeat 1500px 140px, url("../images/new_img/man.png") no-repeat 1500px 140px, url("../images/new_img/banner-bg.jpg") no-repeat 0 0;
        background-size: auto, auto, cover;
        padding: 40px 15px 40px 15px;
        min-height: auto !important;
    }
    .banner--target {
        background: url("../images/new_img/banner-bg.jpg") no-repeat 0 0;
        background-size: cover;
    }
    .banner__title {
        max-width: 100%;
        font-size: 34px;
        line-height: 40px;
        word-wrap: break-word;
    }
}

.selection {
    margin-bottom: 80px;
}

.selection__title {
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: 800;
}

@media screen and (max-width:767px) {
    .selection__title {
        text-align: center;
    }
}

.selection__item {
    box-sizing: border-box;
    text-align: center;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    color: #0088cc;
    padding: 50px 35px;
    border: 1px dashed #a9aaaa;
    margin-right: -1px;
    margin-bottom: -1px;
}

.selection__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:1000px) {
    .selection__item {
        font-size: 16px;
    }
}

@media screen and (max-width:800px) {
    .selection__wrapper {
        flex-wrap: wrap;
    }
    .selection__item {
        width: 47%;
    }
}

@media screen and (max-width:500px) {
    .selection__item {
        width: 100%;
    }
}

.page-block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.48);
    padding-top: 65px;
    padding-bottom: 50px;
    margin-bottom: 65px;
}

.page-block__title {
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
}

.page-block__wrapper {
    position: relative;
}

.page-block__link {
    width: 50px;
    height: 50px;
}

.page-block__icon {
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    background: url("/images/new_img/svg/diploms.svg") no-repeat 0px 0px;
    background-size: cover;
}

.page-block__iconed {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    background: url("../images/new_img/svg/guarant.svg") no-repeat 0px 0px;
    background-size: cover;
}

.page-block__desc {
    font-size: 18px;
    line-height: 23px;
    max-width: 590px;
    text-align: center;
}

.page-block__desc--margin {
    margin-bottom: 45px;
}

.page-block__phone,
.page-block__price {
    display: flex;
}

.page-block__phone {
    margin-bottom: 35px;
}

.page-block__price-item {
    font-size: 30px;
    margin-right: 85px;
}

.page-block__price-item:last-child {
    margin-right: 0px;
}

.page-block__price-item span {
    color: #7f7f7f;
}

.page-block__phone-item {
    position: relative;
    font-size: 30px;
    color: #0088cc;
    margin-right: 100px;
    padding-left: 60px;
}

.page-block__phone-item--light {
    position: relative;
}

.page-block__phone-item::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 48px;
    height: 50px;
    background: url("../images/new_img/phone-icon.png") no-repeat 0px 0px;
}

.page-block__phone-item--light::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 48px;
    height: 50px;
    background: url("../images/new_img/phone-icon-light.png") no-repeat 0px 0px;
}

@media screen and (max-width:767px) {
    .page-block__phone,
    .page-block__price {
        flex-direction: column;
    }
    .page-block__phone-item,
    .page-block__price-item {
        margin-bottom: 30px;
        margin-right: 0px;
        font-size: 26px;
    }
    .page-block__phone-item::before,
    .page-block__phone-item--light::before {
        top: 50%;
        margin-top: -25px;
    }
}

.page-block__phone-item:last-child {
    margin-right: 0px;
}

.pay-container-js .pay-item {
    box-sizing: border-box;
    border: 1px dashed #a9aaaa;
    margin: -1px;
}

.pay-item:last-child {
    border: 1px dashed #a9aaaa;
}

.pay-container-js {
    position: relative;
    margin: 0 auto;
}

.page-slider__prev.swiper-button-prev {
    left: -50px;
    top: 50%;
    position: absolute;
    margin-top: -55px;
    background: url("../images/new_img/arrow-prev.png") no-repeat 0px 0px;
}

.pay-container-js.pay-row {
    border-bottom: 0px;
}

.page-slider {
    position: relative;
}

.page-slider__next.swiper-button-next {
    right: -50px;
    top: 50%;
    position: absolute;
    margin-top: -55px;
    background: url("../images/new_img/arrow-next.png") no-repeat 0px 0px;
}

@media screen and (max-width:1280px) {
    .page-slider__prev.swiper-button-prev {
        left: 0px;
    }
    .page-slider__next.swiper-button-next {
        right: 0px;
    }
}

.process {
    margin-bottom: 70px;
}

.process__title {
    margin-bottom: 50px;
}

ul.process__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1100px) {
    ul.process__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .process__item {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:360px) {
    .process__item {
        width: 100%;
        text-align: center;
    }
    .process__img,
    .process__desc {
        margin: 0 auto;
    }
    .process__title {
        text-align: center;
    }
}

.process__img {
    width: 140px;
    height: 115px;
    margin-bottom: 30px;
    text-align: center;
}

.process__img img {
    height: 100%;
}

.process__desc {
    font-size: 14px;
    max-width: 140px;
    text-align: center;
}

#order-form .btn-red {
    background: #e42722;
    width: auto;
    padding: 10px 30px;
    border-radius: 0px;
    transition: all .8s ease-out;
    float: left;
    margin-left: 20px;
}

#order-form .btn-red:hover {
    background: #8a1512;
}

.row-grey {
    background: #f5f5f5;
}

.row-grey.row {
    margin-left: 0px;
    margin-bottom: 50px;
}

.row-grey .bag4 {
    background: #f5f5f5;
}

.form-horizontal-grey.span12 {
    margin-left: 0px;
}

.order-title-non-border {
    border: none;
}

.order-title-non-border h1,
.order-title-non-border h3 {
    text-align: left!important;
}

#order-now {
    z-index: 1000;
}

@media screen and (max-width:767px) {
    .order-title-non-border h1,
    .order-title-non-border h3 {
        text-align: center!important;
        padding-left: 18px;
        padding-right: 18px;
    }
}

#backcall-modal {
    width: 250px;
    margin-left: -120px;
}

@media screen and (max-width:767px) {
    #backcall-modal {
        width: 50%!important;
        margin-left: 0px!important;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    #backcall-modal .close {
        font-size: 40px;
        
       
    }

     #backcall-modal .modal-body {

        padding: 8px;
     }

     #backcall-modal  form {
        margin:0px;
     }
}

@media screen and (max-width:550px) {
    #backcall-modal {
        width: 95%!important;
    }
}

@media all and (orientation: landscape) {
    #backcall-modal {
        max-height: 95vh;
    }
}

#discipline-form,
#order-type-form,
#branch-form {
    margin-left: 30px!important;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 220px;
    margin-right: 50px;
    position: relative;
    top: -15px;
}

.logo--margin {
    margin-right: 95px;
}

.call-banner {
    display: block;
    padding: 25px 0px;
    background: url("../images/new_img/square.png") no-repeat center 0, url("../images/new_img/stroke.png") no-repeat center 0, url("../images/new_img/cloth.png") no-repeat 0 0;
    background-size: cover, 675px 365px, cover;
}

.call-banner__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.call-banner__title {
    font-family: "PT Sans";
    font-size: 20px;
    line-height: 22px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 10px;
    filter: url(#blur-filter);
    -moz-filter: url(#blur-filter);
    -webkit-filter: url(#blur-filter);
    -o-filter: url(#blur-filter);
}

.call-banner__link {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}

.call-banner__link:hover,
.call-banner__link:focus,
.call-banner__link:active {
    color: #fff!important;
}

.call-banner__close {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0px;
    width: 18px;
    height: 20px;
    background: url("../images/new_img/close.png") no-repeat 0 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .call-banner__title {
        font-size: 14px;
        line-height: 16px;
    }
    .call-banner__link {
        font-size: 12px;
        line-height: 14px;
    }
}

.work-type {
    padding-bottom: 60px;
}

.work-type__block {
    width: 24.36%;
    box-sizing: border-box;
    border-right: 1px solid #e7e7e7;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    margin-bottom: 40px;
}

.work-type__block:last-child {
    border-right: none;
}

.work-type__wrapper {
    display: flex;
}

@media screen and (max-width:1280px) {
    .work-type__wrapper {
        flex-wrap: wrap;
    }
    .work-type__block {
        width: 33.333%;
    }
    .work-type__block:nth-child(3n+3) {
        border-right: none;
    }
    .work-type__block:last-child {
        border-right: 1px solid #e7e7e7;
    }
}

@media screen and (max-width:980px) {
    .work-type__block {
        width: 50%;
    }
    .work-type__block:nth-child(2n+2) {
        border-right: none;
    }
    .work-type__block:nth-child(3n+3) {
        border-right: 1px solid #e7e7e7;
    }
}

@media screen and (max-width:575px) {
    .work-type__block {
        width: 100%;
        border-right: none;
    }
    .work-type__block:nth-child(3n+3) {
        border-right: none;
    }
}

.work-type__title {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 60px;
}

.work-type__heading {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}

.work-type__about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.work-type__about-header {
    font-size: 12px;
    color: #727272;
}

.work-type__about-sum {
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

.work-type__list {
    margin: 0px;
    margin-bottom: 20px;
}

.work-type__item {
    font-weight: 700;
    max-width: 225px;
}

.work-type__block-link {
    color: #007fd9;
    font-size: 16px;
}

.work-type__show {
    text-align: center;
}

.work-type__link {
    font-size: 24px;
    line-height: 26px;
    color: #007fd9;
    border-bottom: 1px dashed #007fd9;
    cursor: pointer;
}

.work-type__link:hover {
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.main-header {
    font-family: "PT Sans";
    padding-bottom: 17px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #69d8c4;
    clear: both;
}

.main-wrapper {
    position: relative;
    background: url("../images/new_img/dots_pattern.png") repeat 0 0, url("../images/new_img/pixels.png") no-repeat right 0, linear-gradient(to right, rgba(11, 146, 167, 1) 20%, rgba(0, 178, 161, 1) 50%, rgba(103, 224, 135, 1) 90%);
    background-size: 15px, contain, cover;
}

.main-wrapper.main-wrapper--gradient {
    overflow: hidden;
    position: relative;
    background: url("../images/new_img/dots_pattern.png") repeat 0 0, url("../images/new_img/pixels.png") no-repeat right 0, linear-gradient(to right, rgba(11, 146, 167, .5) 20%, rgba(0, 178, 161, .5) 50%, rgba(103, 224, 135, .5) 90%);
    background-size: 15px, contain, cover;
}



svg path,
svg line,
svg polyline {
    stroke: #fff;
    stroke-width: 1px;
}

svg path {
    fill: transparent;
}

.main-nav {
    max-width: 680px;
    width: 58.119658%;
}

.main-nav__close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.main-nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style: none;
}

.main-nav__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 18px;
    padding-top: 15px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.8);
    outline: none;
}

.main-nav__item {
    outline: none;
}

.main-nav__link:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    outline: none;
}

.main-nav__link:focus {
    text-decoration: none;
    outline: none;
}

.main-nav__link:active {
    text-decoration: none;
    outline: none;
}

@media screen and (max-width:1205px) {
    .logo {
        top: 0px;
    }
    .main-nav__link:hover {
        color: #005580;
        outlinr: none;
    }
}

.main-nav__link--trigger {
    padding-left: 30px;
    padding-right: 30px;
}

.main-nav__toggle {
    position: relative;
}

.main-nav__icon {
    position: absolute;
    top: 13px;
    right: 15px;
}

.menu-arrow {
    fill: #fff;
}

.sub-menu {
    display: none;
    position: absolute;
    top: auto;
    list-style: none;
    padding: 0px 20px;
    padding-top: 2px;
    padding-bottom: 1px;
    background: #fff;
    margin: 0;
    z-index: 500;
}

.sub-menu::after {
    content: "";
    position: absolute;
    top: -63px;
    border: none;
    right: 0px;
    width: 70px;
    height: 63px;
    background: rgba(255, 255, 255, 1);
    border-top: 2px solid #2caca3;
}

.sub-menu__item {
    font-size: 0px;
    outline: none;
}

.sub-menu__link {
    display: block;
    padding: 15px 0px;
    padding-left: 8px;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    border: 1px solid #dbf1eb;
    border-left: none;
    border-right: none;
    margin-bottom: -1px;
    outline: none;
}

.sub-menu__link:hover {
    text-decoration: none;
    color: #005580;
}

@media screen and (min-width:1205px) {
    .main-nav__item:hover .sub-menu {
        display: block;
        border: 2px solid #2caca3;
        border-top: none;
    }
    .main-nav__item:hover .main-nav__link--trigger {
        padding-left: 29px;
        padding-right: 29px;
        padding-top: 13px;
        background: #fff;
        color: #000;
        border-left: 2px solid #2caca3;
        border-top: 2px solid #2caca3;
    }
    .main-nav__item:hover .menu-arrow {
        fill: #4abb9b;
    }
}

.burger {
    display: none;
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    width: 30px;
    height: 20px;
}

.burger span {
    background: #fff;
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 6px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
}

.burger span:last-child {
    margin-bottom: 0px;
}

.burger.open span:nth-child(2) {
    opacity: 0;
    width: 0px;
    transition: all ease-in-out 0.4s;
}

.burger.open span:nth-child(3) {
    transform: rotate(45deg);
    top: -15px;
    background: #3fb69d;
}

.burger.open span:nth-child(1) {
    transform: rotate(-45deg);
    top: 3px;
    background: #3fb69d;
}

.contacts__link {
    display: none;
    position: absolute;
    right: 10px;
}

.main-footer__feedback .feedback__phone {
    margin-bottom: 15px;
}

.phone,
.phone-main,
.mts-phone,
.mega-phone,
.operators-phone,
.viber-phone,
.arrow-green,
.phone-hidden {
    fill: #4abb9b;
    opacity: 1;
    stroke-width: 0px;
}

.phone-main,
.arrow-green {
    fill: #fff;
}

.contacts__icon--phone svg {
    width: 17px;
    height: 16px;
}

.contacts__phone--main,
.contacts-mobile__phone--beeline,
.contacts-mobile__phone--mts,
.contacts-mobile__phone--mega,
.contacts-mobile__phone--operators,
.contacts-mobile__phone--viber,
.contacts-mobile__phone--hidden {
    position: relative;
}

.contacts-mobile__icon--beeline {
    position: absolute;
    top: 0;
    left: -25px;
}

.contacts-mobile__icon--mts {
    position: absolute;
    top: 0;
    left: -25px;
}

.contacts-mobile__icon--mega {
    position: absolute;
    top: 0;
    left: -25px;
}

.contacts-mobile__icon--operators {
    position: absolute;
    top: 0;
    left: -25px;
}

.contacts-mobile__icon--viber {
    position: absolute;
    top: 0;
    left: -25px;
}

.contacts-mobile__icon-hidden {
    position: absolute;
    top: 0;
    left: 25px;
}

.contacts__icon--phone {
    position: absolute;
    top: 0;
    left: -25px;
}

.contacts__icon--arrow {
    position: absolute;
    top: -3px;
    right: -15px;
}

.contacts {
    position: relative;
    padding-left: 65px;
    padding-top: 15px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.contacts__close {
    display: none;
    position: absolute;
    right: 20px;
    z-index: 501;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .contacts {
        padding-top: 90px;
    }
    .contacts__close {
        display: block;
    }
}

.contacts.active {
    background: #fff;
    border: 2px solid #2caca3;
    border-right: none;
    border-left: none;
    box-sizing: border-box;
    padding-left: 65px;
    padding-right: 40px;
    padding-top: 13px;
    padding-bottom: 28px;
}

.contacts.active .contacts__phone--main {
    color: #000;
}

.contacts.active .phone-main {
    fill: #4abb9b;
}

.contacts.active .arrow-green {
    fill: #4abb9b;
}

.contacts.active .contacts-mobile {
    display: block;
}

.contacts__phone {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}

.contacts-mobile__wrapper {
    font-size: 0px;
    text-align: center;
    padding-bottom: 20px;
}

.contacts-mobile__phone {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    margin-bottom: 20px;
    display: inline-block;
}

.contacts-mobile__phone--hidden {
    display: none;
}

.contacts-mobile {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background: #fff;
    z-index: 200;
    border: 2px solid #2caca3;
    border-top: none;
    z-index: 500;
    width: 238px;
}

.contacts-mobile::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    background: #2caca3;
    left: -2px;
    top: -60px;
}

.contacts-mobile::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    background: #2caca3;
    right: -2px;
    top: -60px;
}

.contacts-mobile__phone:last-child {
    margin-bottom: 0px;
}

.contact-link {
    display: none;
    position: absolute;
    top: 38px;
    right: 34px;
    cursor: pointer;
}

@media screen and (max-width:1205px) {
    .contacts.active {
        border: none;
    }
    .contact-link {
        display: block;
    }
    .contacts {
        position: absolute;
        top: 0;
        width: 235px;
        right: -235px;
        transition: all ease-in-out 0.4s;
    }
    .contacts.active {
        right: 0px;
        transition: all ease-in-out 0.4s;
    }
    .contacts__close {
        display: block;
    }
    .contacts-mobile {
        width: 100%;
        top: 0;
        right: 0;
        padding-top: 75px;
    }
    .contacts__phone--main {
        display: none;
    }
    .contacts-mobile__phone--hidden {
        display: block;
    }
    .contacts__link {
        display: block;
    }
    .burger {
        display: block;
    }
    .main-nav {
        position: absolute;
        top: 0;
        right: -230px;
        width: 230px;
        background: #fff;
        z-index: 250;
        padding-top: 70px;
        transition: all ease-in-out 0.4s;
    }
    .main-nav__close {
        display: block;
        z-index: 300;
        top: 20px;
        right: 20px;
    }
    .main-nav.active {
        border-left: 2px solid #2caca3;
        border-bottom: 2px solid #2caca3;
        right: 0px;
        transition: all ease-in-out 0.4s;
    }
    .main-nav__icon {
        right: 120px;
        top: 13px;
    }
    .menu-arrow {
        fill: #5ac0ab;
    }
    .main-nav__list {
        flex-direction: column;
    }
    .main-nav__link {
        color: #000;
        padding: 15px;
        display: block;
        border: 1px solid #dbf1eb;
        margin-bottom: -1px;
    }
    .main-nav__link:first-child {
        border-top: none;
    }
    .sub-menu {
        display: none;
        position: relative;
        top: 0;
        padding-top: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #dbf1eb;
    }
    .sub-menu__link {
        padding: 10px 0px;
        padding-left: 20px;
        border: none;
    }
    .sub-menu::after {
        display: none;
    }
    .main-nav__link--trigger {
        padding-left: 15px;
    }
    .contacts-mobile {
        display: block;
    }
}

@media screen and (max-width:1080px) {
    .contacts-mobile::after,
    .contacts-mobile::before {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .logo {
        max-width: 180px;
        margin-right: 0;
    }
    .burger {
        top: 30px;
    }
    .contact-link {
        top: 28px;
    }
}

.feedback__phone {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
}

.feedback__phone::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 17px;
    background: url("../images/new_img/phone-white.png") no-repeat 0 0;
}

.feedback__phone--beeline::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 20px;
    background: url("../images/new_img/beeline.png") no-repeat 0 0;
}

.feedback__phone--mts::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 20px;
    background: url("../images/new_img/mts.png") no-repeat 0 0;
}

.feedback__phone--mega::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 20px;
    background: url("../images/new_img/megafone.png") no-repeat 0 0;
}

.feedback__phone--operators::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 20px;
    background: url("../images/new_img/operators.png") no-repeat 0 0;
}

.feedback__phone--viber::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 20px;
    background: url("../images/new_img/viber-1.png") no-repeat 0 0;
}

.feedback__phone--trigger::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -12px;
    width: 8px;
    height: 6px;
    background: url("../images/new_img/down.png") no-repeat 0 0;
}

.about-company {
    padding-top: 135px;
    padding-bottom: 155px;
    display: flex;
}

.about-company__left {
    width: 53.85%;
}

.about-company__right {
    width: 46.15%;
    position: relative;
}

.about-company__icon {
    position: absolute;
}

.about-company__icon--hour {
    opacity: 0;
    top: 125px;
    right: 90px;
    animation: opacity 5s linear 6s forwards;
}

.about-company__icon--сharter {
    bottom: -48px;
    right: 108px;
}

.about-company__icon--inner-ellipse {
    top: -105px;
    right: -34px;
}

.about-company__icon--outer-ellipse {
    top: -75px;
    right: -90px;
}

#внешний_круг {
    animation: spin 30s linear infinite;
}

@keyframes spin {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about-company__icon--abc {
    top: -37px;
    right: 77px;
}

.about-company__icon--abc span {
    opacity: 0;
    animation: opacity 5s linear 4s forwards;
}

.about-company__icon--work {
    bottom: -45px;
    right: 107px;
}

.about-company__icon--work span {
    opacity: 0;
    animation: opacity 5s linear 3s forwards;
}

.about-company__icon--science {
    top: -50px;
    left: 170px;
}

.about-company__icon--science span {
    opacity: 0;
    animation: opacity 5s linear 1s forwards;
}

.about-company__icon--pen {
    bottom: -30px;
    left: 82px;
}

.about-company__icon--pen span {
    opacity: 0;
    animation: opacity 5s linear 2s forwards;
}

.about-company__icon-text {
    font-family: "PT Sans";
    width: 200px;
    position: absolute;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.about-company__icon-text--pen {
    width: 200px;
    left: 65px;
    bottom: -25px;
    -webkit-filter: url(#blur-pen);
    filter: url(#blur-pen);
}

.about-company__icon-text--science {
    width: 130px;
    left: 70px;
    bottom: -20px;
    -webkit-filter: url(#blur);
    filter: url(#blur);
}

.about-company__icon-text--work {
    width: 200px;
    left: 61px;
    bottom: -25px;
    -webkit-filter: url(#blur-work);
    filter: url(#blur-work);
}

.about-company__icon-text--abc {
    width: 150px;
    left: 61px;
    bottom: -25px;
    -webkit-filter: url(#blur-abc);
    filter: url(#blur-abc);
}

.about-company__icon-text span {
    display: block;
    font-size: 45px;
    line-height: 47px;
    font-weight: 800;
}

.about-company__icon--outer-ellipse {}

.about-company__title {
    font-family: "PT Sans";
    font-size: 65px;
    line-height: 68px;
    font-weight: 800;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 40px;
}

.about-company__desc {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    max-width: 450px;
    color: #fff;
    margin-bottom: 85px;
}

.about-company__btn {
    font-family: "PT Sans";
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 20px;
    padding: 13px 30px;
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    margin-right: 24px;
    transition: all ease-in-out 0.4s;
}

.about-company__btn:hover {
    text-decoration: none;
    background: #e3f5ea;
    transition: all ease-in-out 0.4s;
}

.about-company__btn:active {
    background: #c3ead2;
    text-decoration: none;
    color: #000;
}

.about-company__btn:focus {
    background: #c3ead2;
    text-decoration: none;
    color: #000;
}

.about-company__btn:last-child {
    margin-right: 0;
}

.about-company__btn--transparent {
    background: transparent;
    border: 1px solid #ffffff;
    padding: 12px 30px;
    color: #fff;
}

.svg-grad {
    display: none;
}

.main-wrapper--gradient .svg-grad {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1700px;
    z-index: -1;
}

.main-footer__top {
    display: flex;
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid #4dc2bb;
}

.main-footer__bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-footer__copyright {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}

.footer-nav {
    margin-right: 115px;
}

.footer-nav__list,
.types__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav__item {
    margin-bottom: 25px;
}

.footer-nav__link {
    display: inline-block;
    vertical-align: top;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.footer-nav__link:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer-nav__link--icon {
    position: relative;
}

.footer-nav__link--icon::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -25px;
    width: 20px;
    height: 20px;
    background: url("../images/new_img/svg/download.svg") no-repeat 0 0;
}

.types {
    margin-right: 140px;
}

.types__title {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 15px;
}

.types__item {
    margin-bottom: 10px;
}

.types__link {
    display: inline-block;
    vertical-align: top;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(191, 223, 217, .7);
}

.types__link:hover {
    color: rgba(191, 223, 217, 1);
    text-decoration: none;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: -1px 4px 18px -7px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width:1280px) {
    .logo--margin {
        margin-right: 50px;
    }
    .footer-nav {
        margin-right: 50px;
    }
    .types {
        margin-right: 50px;
    }
}

@media screen and (max-width:1205px) {
    .about-company__right {
        display: none;
    }
    .about-company__left {
        width: 100%;
    }
}

@media screen and (max-width:992px) {
    .main-footer__top {
        flex-wrap: wrap;
    }
    .logo--margin {
        width: 48%;
        margin-right: 2%;
    }
    .footer-nav {
        width: 48%;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .types {
        width: 48%;
        margin-right: 2%;
    }
    .main-footer__feedback {
        width: 48%;
        margin-right: 0;
    }
}

@media screen and (max-width:767px) {
    .container {
        padding: 0 5px;
    }
    .about-company__title {
        font-size: 54px;
        line-height: 56px;
    }
    .logo.logo--margin {
        max-width: 100%;
    }
}

@media screen and (max-width:500px) {
    .about-company__btn {
        margin-bottom: 15px;
    }
}

@media screen and (max-width:480px) {
    .logo--margin {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        text-align: center;
    }
    .footer-nav {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        text-align: center;
    }
    .types {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        text-align: center;
    }
    .main-footer__feedback {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        text-align: center;
    }
}

@media screen and (max-width:360px) {
    .about-company {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .about-company__btn {
        margin-right: 0;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
    }
}

.login {
    padding-top: 20px;
    float: right;
    margin-right: 36px;
}

.login__user,
.login__out {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 0px 15px;
}

.login__user:hover,
.login__user:focus {
    color: rgba(255, 255, 255, 1)!important;
    text-decoration: none!important;
    outline: none!important;
}

.login__user:active {
    color: rgba(255, 255, 255, 1)!important;
    text-decoration: none!important;
    outline: none!important;
}


/*.login__out {
    display: none;
    position: relative;
    border-left: 1px solid #adeccb;
}*/

.login__user img {
    display: inline-block;
    content: "";
    position: absolute;
    top: 3px;
    left: 0px;
}

@media screen and (max-width:1205px) {
    .main-header {
        padding-top: 12px;
    }
    .login {
        padding-top: 0;
        float: none;
        position: absolute;
        display: inline-block;
        top: 38px;
        right: 130px;
        margin-right: 0;
    }
    .login__user {
        padding: 0;
        padding-right: 15px;
    }
    .login__user img {
        position: static;
        width: 30px;
        height: 22px;
    }
}

@media screen and (max-width:767px) {
    .login {
        top: 29px;
    }
}

@media screen and (max-width:550px) {
    .login {
        position: static;
        padding-top: 20px;
        float: right;
        margin-right: 22px;
    }
    .burger {
        top: 65px;
    }
    .contact-link {
        top: 63px;
    }
    .main-header {
        padding-top: 0;
    }
}
