/* css */

.matter-form {float: right; width: 30%; background: #f5f5f5; padding: 27px 50px 30px; margin: 0 0 20px;}
.matter-form input[type=text] {width: 100%; height: 30px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.matter-form textarea {width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.contacts-wrap {float: left; width: 60%;}
.contacts-wrap__header {font-size: 38px; font-weight: bold; margin: 0 0 5px;}
.contacts-wrap__txt {font-size: 24px; margin: 0 0 30px;}
.contacts-wrap__col {display: inline-block; width: 40%; padding: 0 5% 0 0; vertical-align: top;}
.contacts-wrap__col p {font-size: 16px; line-height: 18px; margin: 0 0 8px;}
.contacts-wrap__col-head {margin: 0 0 20px; min-height: 106px;}
body .matter-form input.btn {background: #be4a47; padding: 0 13px; height: 35px; border: 0; color: #fff;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;}

.contacts-wrap__col-phone, .contacts-wrap__col-time {margin: 0 0 20px; min-height: 126px;}
.ico-info {display: inline-block; width: 28px;}
.ico-info img {vertical-align: top; position: relative; top: 1px;}

.contacts-padding {height: 30px; clear: both;}
.pay-wrap__header {margin: 0 0 50px; font-size: 38px; font-weight: bold;}
.pay-wrap {margin: 0 0 20px; font-size: 0;}
.pay-wrap * {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pay-wrap h3 {font-size: 24px; line-height: 27px; font-weight: bold; margin: 0 0 20px;}
.pay-item {display: inline-block; vertical-align: top; width: 25%; position: relative; border-right: 1px dashed #a9aaaa;}
.pay-item__img {display: table-cell; height: 183px; vertical-align: middle; text-align: center;}
.pay-item__img img {max-width: 100%; max-height: 100%;}
.pay-item__popup {position: absolute; top: -1px; left: -1px; right: -1px; bottom: -1px; background: #fff; z-index: 10; font-size: 14px; opacity: 0;
	-wekit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	-webkit-box-shadow: 0 0 22px rgba(0,0,0,.09);
	-moz-box-shadow: 0 0 22px rgba(0,0,0,.09);
	box-shadow: 0 0 22px rgba(0,0,0,.09); }
.pay-item:hover .pay-item__popup {opacity: 0.95;}
.pay-item__popup span {display: table-cell; width: 400px; height: 185px; max-width: 100%; max-height: 100%; vertical-align: middle; font-size: 14px; font-weight: normal; padding: 0 35px;}

.pay-row {padding: 0 0 64px; margin: 0 0 48px; border-bottom: 2px solid #eceeef;}
.pay-list {border-top: 1px dashed #a9aaaa; border-bottom: 1px dashed #a9aaaa; border-left: 1px dashed #a9aaaa;}
.pay-row--last {border: 0; margin: 0;}
.pay-row--last .pay-list, .pay-row--last .pay-item {width: 50%;}

.scheme {margin: 0 0 20px;}
.scheme__header {margin: 0 0 36px; font-size: 38px; font-weight: bold;}

.scheme-wrap {background: url(../images/scheme-bg.png) 0 0 no-repeat;font-size: 0;text-align: center;margin-right: -20px;padding-right: 20px;}
.scheme-wrap__item {display: inline-block; height: 332px; width: 21%; padding-left: 2%; padding-right: 2%; vertical-align: top; font-size: 14px;}
.scheme-wrap__img {padding: 0 0 20px;}
.scheme-wrap__item span {display: block; font-size: 24px; margin: 0 0 5px;}


@media (max-width: 1200px) {

	.contacts-wrap {width: 60%;}
	.matter-form {padding: 20px 30px 20px;}
	.pay-item__popup span {padding: 0 5px;}
	.scheme-wrap {background: none;}

}
@media (max-width: 980px) {
	.contacts-wrap__col {width: 90%;}
	.contacts-wrap {width: 40%;}
	.matter-form {width: 40%;}
	.scheme-wrap__img img {width: 100px;}
}
@media (max-width: 767px) {
	.contacts-wrap {width: auto; display: block; float: none;}
	.matter-form {float: none; width: auto;}
	.pay-wrap, .scheme, .contacts-wrap {padding-left: 15px; padding-right: 15px;}
	.matter-form {padding: 10px 15px 10px;}
	.matter-form h1 {font-size: 24px;}
	.pay-wrap__header, .scheme__header, .contacts-wrap__header {font-size: 24px;}
	.contacts-wrap__txt {font-size: 18px; margin-bottom: 10px;}
	.contacts-wrap__col-head, .contacts-wrap__col-phone, .contacts-wrap__col-time {min-height: 10px; margin-bottom: 15px;}
	.pay-wrap h3 {font-size: 18px; line-height: 21px; font-weight: normal;}
	.pay-wrap__header {margin-bottom: 20px;}
	.pay-row {padding-bottom: 30px; margin-bottom: 20px;}
	.scheme-wrap__item {width: 46%;}
}

@media (max-width: 420px) {
	.scheme-wrap__item {display: block; width: auto;}
	.pay-item {width: 100%;}
	.pay-row--last .pay-list, .pay-row--last .pay-item {width: 100%;}
	.scheme-wrap__item {height: auto; padding-bottom: 30px;}
}

